<div class="breadcrumb breadcrumb-1 pos-center">
    <h1>LA EMPRESA</h1>
</div>
<div class="content">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-7">
                <div class="title-style-1 marginb30 margint30">
                    <h3>¿Quiénes Somos?</h3>
                        
                    <p>
                       Somos una empresa que busca ayudar a las personas a llevar un mejor estilo de vida. Vida saludable 
                       cuenta con muchas terapias alternativas que te ayudarán a mejorar tu salud.
                    </p>  
                    <h5>Misión</h5>
                    <p>
                        Somos una empresa privada, dirigida al sector comercial. Ofrecemos una atención personalizada con 
                        productos de calidad, logrando con ello la satisfacción del cliente y nos permite darnos a conocer por
                        nuestros servicios y atención en nuestra localidad.
                    </p>
                    <h5>Visión</h5>
                    <p>
                        Para el año 2022 lograr un mayor reconocimiento en nuestra localidad por los servicios brindados y 
                        potenciamiento de nuestra instalación. Ofrecer atención de calidad con el mejor personal capacitado 
                        para responder y actuar a las necesidades del cliente.
                    </p>      
                </div>
            </div>
            <div class="col-lg-5 margint30">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzxGqDlfiPyQb-IETKsAuBExQmWJZ9hODWCwvWCiZ-9PDWAdnw" class="img-fluid" alt="Responsive image">
                <br></br>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR36gLcUCKr9F5d159cj7KCkt4rn27IF2QUKTigEiqtA-FgnBzd" class="img-fluid" alt="Responsive image">
           
            </div>
        </div>
    </div>
</div>